.snake{
  background-color: orange;
}

.cell{
  background-size: contain;
  box-sizing: border-box;
  float: left;
  height: 16px;
  width: 16px;
}

.head{
  background-color: black;
}

.food{
  background-color: grey;
}


//other elements(only css)
.info {
  display: inline-block;
  height: 100%;
}

.row {
  margin-top: 637px;
  height: 150px;
}

.logo {
  background-image: url("logo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.game {
  background-image: url("pattern.png");
  background-size: cover;
  height: 78%;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
}

.container {
  width: 100%;
  margin: 0;
  margin-left: -22px;
}
.icons {
  margin-top: 20px;
  height: 120px;
  margin-left: 60px;
  display: inline-block;
}

.icon-nerd {
  margin-left: 290px;
}

.score {
  display: inline-block;
  position: absolute;
  margin-top: 40px;
  font-size: 65px;
  color: #19ECFF;
}

.score-robot {
  margin-left: 30px;
}

.score-nerd {
  margin-left: 150px;
}


//Landing Page
body {
  background-color: #08A9E8;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  margin-left: 0px;
}

.wrapper {
  background-image: url("landingBeat.jpg");
  background-size: cover;
  /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  position: absolute;
}

.btn-start {
  margin-top: 730px;
  margin-left: 680px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background-color: #19ECFF;
  border-color: #19ECFF;
  height: 50px;
  width: 100px;
  font-family: 'Roboto';
  font-size: 18px;
  color: #08A9E8;
}
